In [1]:
print('Ini Kelas Algoritma!')

Ini Kelas Algoritma!

In [2]:
print("Ini Kelas Algoritma")

Ini Kelas Algoritma

In [3]:
print("I don't understant what are you saying")

I don't understant what are you saying

In [ ]:
print('I don't understant what are you saying')

In [4]:
print('He is such a "GENIUS"')

He is such a "GENIUS"

In [ ]:
print("He is such a "GENIUS"")

In [6]:
mahasiswa = 42
uang_di_dompet = 100000
print(mahasiswa)
print(uang_di_dompet)
print(mahasiswa*uang_di_dompet)

42
100000
4200000

In [7]:
nama_depan = 'Angga'
nama_tengah = ' '
nama_belakang = "Saputra"
print(nama_depan + nama_tengah + nama_belakang)

Angga Saputra

In [8]:
nama_depan ='ari'
nama_tengah ='sekar'
nama_belakang = 'tini'
print(nama_depan + nama_tengah + nama_belakang)

arisekartini

In [4]:
nama_depan ='009 '
nama_tengah ='Ari sekar'
nama_belakang = 'tini'
print(nama_depan + nama_tengah + nama_belakang)

009 Ari sekartini

In [9]:
mahasiswa = 2021
dengan_nim = 2108541009
print(mahasiswa)
print(dengan_nim)

2021
2108541009

In [10]:
nama = 'Ari Sekartini '
program_studi = 'Matematika '
dengan_nim = '2108541009'
kelas = ' Matematika A.'
print(nama + program_studi + dengan_nim + kelas)

Ari Sekartini Matematika 2108541009 Matematika A.

In [11]:
print(nama + kelas + dengan_nim)

Ari Sekartini  Matematika A.2108541009

In [12]:
print("berapa nim nya? "+ dengan_nim)

berapa nim nya? 2108541009

In [13]:
print("Nama nya siapa? "+ nama)
print("Fakultas MIPA, program studi "+ program_studi)
print("Nim berapa? "+ dengan_nim)
print("Kelas apa? "+ kelas)

Nama nya siapa? Ari Sekartini
Fakultas MIPA, program studi Matematika
Nim berapa? 2108541009
Kelas apa?  Matematika A.