# 5.1 Print
Perintah ini akan mencetak tulisan yang ada di dalam tanda print(" ") atau print(' ')

In [1]:
print('Ini Kelas Algoritma!')

Ini Kelas Algoritma!

In [2]:
print("Ini Kelas Algoritma")

Ini Kelas Algoritma

In [3]:
print("I don't understant what are you saying")

I don't understant what are you saying

In [ ]:
print('I don't understant what are you saying')

In [5]:
print('He is such a "GENIUS"')

He is such a "GENIUS"

In [ ]:
print("He is such a "GENIUS"")

In [6]:
mahasiswa = 42
uang_di_dompet = 100000
print(mahasiswa)
print(uang_di_dompet)
print(mahasiswa*uang_di_dompet)

42
100000
4200000

In [7]:
nama_depan = 'Angga'
nama_tengah = ' '
nama_belakang = "Saputra"
print(nama_depan + nama_tengah + nama_belakang)

Angga Saputra

In [8]:
nama_depan ='ari'
nama_tengah ='sekar'
nama_belakang = 'tini'
print(nama_depan + nama_tengah + nama_belakang)

arisekartini

In [9]:
nama_depan ='009 '
nama_tengah ='Ari sekar'
nama_belakang = 'tini'
print(nama_depan + nama_tengah + nama_belakang)

009 Ari sekartini

In [10]:
mahasiswa = 2021
dengan_nim = 2108541009
print(mahasiswa)
print(dengan_nim)

2021
2108541009

In [11]:
nama = 'Ari Sekartini '
program_studi = 'Matematika '
dengan_nim = '2108541009'
kelas = ' Matematika A.'
print(nama + program_studi + dengan_nim + kelas)

Ari Sekartini Matematika 2108541009 Matematika A.

In [12]:
print(nama + kelas + dengan_nim)

Ari Sekartini  Matematika A.2108541009

In [13]:
print("berapa nim nya? "+ dengan_nim)

berapa nim nya? 2108541009

In [14]:
print("Nama nya siapa? "+ nama)
print("Fakultas MIPA, program studi "+ program_studi)
print("Nim berapa? "+ dengan_nim)
print("Kelas apa? "+ kelas)

Nama nya siapa? Ari Sekartini
Fakultas MIPA, program studi Matematika
Nim berapa? 2108541009
Kelas apa?  Matematika A.

In [15]:
print(nama + dengan_nim + kelas)

Ari Sekartini 2108541009 Matematika A.

# 5.2 Input
Perintah input digunakan jika kita ingin mendapatkan informasi dari pengguna

In [16]:
nama = input("Siapakah nama anda?")
kegiatan = input('Apakah kegiatan anda sekarang, ' + nama +"? ")
print("Semangat "+ kegiatan +" nya yah, " + nama + "!")

Siapakah nama anda? Ari
Apakah kegiatan anda sekarang,  Ari? Belajar
Semangat Belajar nya yah,  Ari!

In [17]:
nama = input("Siapakah nama anda? ")
status = input("Apa status anda sekarang, " + nama +"? " )
mahasiswa = input("Mahasiswa dimana " + nama + "? ")
print(nama + status + mahasiswa)

Siapakah nama anda? Ari Sekar
Apa status anda sekarang, Ari Sekar? Mahasiswa
Mahasiswa dimana Ari Sekar? Universitas Udayana
Ari SekarMahasiswaUniversitas Udayana

In [18]:
nama = input("Siapakah nama anda? ")
status = input("Apa status anda sekarang, " + nama +"? " )
mahasiswa = input("Mahasiswa dimana " + nama + "? ")
print(nama +" merupakan " + status +" di " + mahasiswa + ". ")

Siapakah nama anda? Ari Sekar
Apa status anda sekarang, Ari Sekar? Mahasiswa
Mahasiswa dimana Ari Sekar? Universitas Udayana
Ari Sekar merupakan Mahasiswa di Universitas Udayana.

In [19]:
nama = input("Siapakah nama anda? ")
status = input("Apa status anda sekarang, " + nama +"? " )
mahasiswa = input("Mahasiswa dimana " + nama + "? ")
print(nama +" merupakan " + status +" di " + mahasiswa + ". ")

Siapakah nama anda? Adi Sanjaya
Apa status anda sekarang, Adi Sanjaya? Mahasiswa
Mahasiswa dimana Adi Sanjaya? Universitas Warmadewa
Adi Sanjaya merupakan Mahasiswa di Universitas Warmadewa.

In [22]:
nama = input("Siapakah nama anda? ")
nim = input("Berapa nim kamu, " + nama +"? " )
print(nama +" dengan nim " + nim )

Siapakah nama anda? Ari Sekartini
Berapa nim kamu, Ari Sekartini? 2108541009
Ari Sekartini dengan nim 2108541009

In [28]:
nama_lengkap = input("Siapakah nama lengkap anda? ")
nama = input("Siapa nama panggilan anda? ")
nim = input("Berapa nim kamu? ")
print(nama_lengkap + nama + " dengan nim " + nim )

Siapakah nama lengkap anda? Ni Luh Putu Ari Sekartini
Siapa nama panggilan anda? Ari Sekar
Berapa nim kamu? 2108541009
Ni Luh Putu Ari SekartiniAri Sekar dengan nim 2108541009

# 5.3 Tipe Data pada Python
Terdapat tiga tipe data pada python

In [30]:
a = "saya"
print (a)

saya

In [31]:
type(a)

str

In [32]:
b = 5

In [33]:
type(b)

int

In [34]:
c = "5"
e = float (c)

In [35]:
d = 5**2
print(d)

25

In [36]:
bilangan_satu = input ("Masukkan bilangan pertama anda: ")
bilangan_kedua = input ("Masukkan bilangan kedua anda: ")

jumlah_bilangan = float(bilangan_satu) + float(bilangan_kedua)

print (jumlah_bilangan)

Masukkan bilangan pertama anda: 2.3
Masukkan bilangan kedua anda: 5.5
7.8

In [37]:
uang_di_dompet = input("Berapakah jumlah uang di dompe anda? ")
uang_di_bank = input("Berapakah jumlah uang anda di Bank? ")
print("Total uang anda adalah Rp " + uang_di_dompet + uang_di_bank)

Berapakah jumlah uang di dompe anda? 50000
Berapakah jumlah uang anda di Bank? 1000000
Total uang anda adalah Rp 500001000000

In [38]:
uang_di_dompet = input("Berapakah jumlah uang di dompe anda? ")
uang_di_bank = input("Berapakah jumlah uang anda di Bank? ")
total_uang = int(uang_di_dompet) + int(uang_di_bank)
print("Total uang anda adalah Rp "+ str(total_uang))

Berapakah jumlah uang di dompe anda? 50000
Berapakah jumlah uang anda di Bank? 1000000
Total uang anda adalah Rp 1050000

In [39]:
bilangan_satu = input ("Masukkan bilangan pertama anda: ")
bilangan_kedua = input ("Masukkan bilangan kedua anda: ")
bilangan_ketiga = input ("Masukkan bilangan ketiga anda: ")

jumlah_bilangan = float(bilangan_satu) + float(bilangan_kedua) + float(bilangan_ketiga)

print (jumlah_bilangan)

Masukkan bilangan pertama anda: 5
Masukkan bilangan kedua anda: 3
Masukkan bilangan ketiga anda: 10
18.0

In [40]:
tahun_sekarang = input("Tahun berapa sekarang? ")
tahun_lahir = input("Tahun berapa anda lahir? ")
umur_sekarang = int(tahun_sekarang) - int(tahun_lahir)
print("Umur anda sekarang adalah "+ str(umur_sekarang))

Tahun berapa sekarang? 2022
Tahun berapa anda lahir? 2003
Umur anda sekarang adalah 19

In [41]:
tahun_sekarang = input("Tahun berapa sekarang? ")
tahun_lahir = input("Tahun berapa anda lahir? ")
umur_sekarang = int(tahun_sekarang) - int(tahun_lahir)
print("Umur anda sekarang adalah "+ str(umur_sekarang) + " dasar tua. ")

Tahun berapa sekarang? 2022
Tahun berapa anda lahir? 2001
Umur anda sekarang adalah 21 dasar tua.

In [42]:
nama = input("Siapa nama anda? ")
tahun_sekarang = input("Tahun berapa sekarang? ")
tahun_lahir = input("Tahun berapa anda lahir? ")
umur_sekarang = int(tahun_sekarang) - int(tahun_lahir)
print("Umur anda sekarang adalah "+ str(umur_sekarang) + " dasar tua. ")

Siapa nama anda? Adi Sanjaya
Tahun berapa sekarang? 2022
Tahun berapa anda lahir? 2001
Umur anda sekarang adalah 21 dasar tua.

In [43]:
print("Umur " + (nama) + " adalah " + str(umur_sekarang) + " mendekati tua! ")

Umur Adi Sanjaya adalah 21 mendekati tua!

In [44]:
nama = input("Siapa nama anda? ")
awal_kuliah = input("Tahun berapa kuliah? ")
tahun_lulus = input("Tahun berapa anda akan lulus? ")
tahun_kuliah = int(tahun_lulus) - int(awal_kuliah)
print((nama) + " akan lulus kuliah "+ str(tahun_kuliah) + " tahun lagi, semangat! ")

Siapa nama anda? Ari Sekartini
Tahun berapa kuliah? 2021
Tahun berapa anda akan lulus? 2025
Ari Sekartini akan lulus kuliah 4 tahun lagi, semangat!

In [45]:
print((nama) + " dengan nim 2108541009 "+ " akan lulus kuliah "+ str(tahun_kuliah) + "tahun lagi, Astungkara! ")

Ari Sekartini dengan nim 2108541009  akan lulus kuliah 4tahun lagi, Astungkara!

# Latihan

# Buat program penjumlahan dua bilangan dengan menggunakan perintah INPUT dan PRINT.

In [46]:
bilangan_satu = input ("Masukkan bilangan pertama anda: ")
bilangan_kedua = input ("Masukkan bilangan kedua anda: ")

jumlah = float(bilangan_satu) + float(bilangan_kedua)

print("Jumlah kedua bilangan adalah " + str (jumlah))

Masukkan bilangan pertama anda: 1
Masukkan bilangan kedua anda: 2
Jumlah kedua bilangan adalah 3.0

In [47]:
bilangan_satu = input ("Masukkan bilangan pertama anda: ")
bilangan_kedua = input ("Masukkan bilangan kedua anda: ")

jumlah = float(bilangan_satu) + float(bilangan_kedua)

print("Jumlah kedua bilangan adalah " + str (jumlah))

Masukkan bilangan pertama anda: 100
Masukkan bilangan kedua anda: 2
Jumlah kedua bilangan adalah 102.0

In [48]:
bilangan_satu = input ("Masukkan bilangan pertama anda: ")
bilangan_kedua = input ("Masukkan bilangan kedua anda: ")

jumlah = float(bilangan_satu) + float(bilangan_kedua)

print("Jumlah kedua bilangan adalah " + str (jumlah))

Masukkan bilangan pertama anda: 50
Masukkan bilangan kedua anda: 50
Jumlah kedua bilangan adalah 100.0

In [49]:
bilangan_satu = input ("Masukkan bilangan pertama anda: ")
bilangan_kedua = input ("Masukkan bilangan kedua anda: ")
bilangan_ketiga = input ("Masukkan bilangan ketiga anda: ")

jumlah_bilangan = float(bilangan_satu) + float(bilangan_kedua) + float(bilangan_ketiga)

print (jumlah_bilangan)

Masukkan bilangan pertama anda: 5
Masukkan bilangan kedua anda: 12
Masukkan bilangan ketiga anda: 8
25.0

In [51]:
bilangan_satu = input ("Masukkan bilangan pertama anda: ")
bilangan_kedua = input ("Masukkan bilangan kedua anda: ")
bilangan_ketiga = input ("Masukkan bilangan ketiga anda: ")

jumlah_bilangan = float(bilangan_satu) + float(bilangan_kedua) + float(bilangan_ketiga)

print ("Jumlah ketiga bilangan adalah " + str(jumlah_bilangan))

Masukkan bilangan pertama anda: 9
Masukkan bilangan kedua anda: 121
Masukkan bilangan ketiga anda: 247
Jumlah ketiga bilangan adalah 377.0

# 5.4 Formatted String
Formatted string digunakan untuk mempermudah penulisan nilai variabel yang ingin dicetak pada perintah print.

In [52]:
nama = input("Nama anda adalah ")
pekerjaan = input("Pekerjaan anda adalah ")
institusi = input("Institusi anda adalah ")

print("Nama saya adalah " + nama +". Saya bekerja sebagai "+ pekerjaan +" di "+ institusi + ".")

Nama anda adalah Ari Sekar
Pekerjaan anda adalah Mahasiswa
Institusi anda adalah Universitas Udayana
Nama saya adalah Ari Sekar. Saya bekerja sebagai Mahasiswa di Universitas Udayana.

In [53]:
print(f"Nama saya adalah {nama}. Saya bekerja sebagai {pekerjaan} di {institusi}. ")

Nama saya adalah Ari Sekar. Saya bekerja sebagai Mahasiswa di Universitas Udayana.

In [54]:
nama = "Vladimir"
pekerjaan = 'guru'
institusi = 'SD Pertiwi'
print(nama + ' adalah seorang ' + pekerjaan + ' di ' + institusi +'.')

Vladimir adalah seorang guru di SD Pertiwi.

In [55]:
print(f'{nama} adalah seorang {pekerjaan} di {institusi}.')

Vladimir adalah seorang guru di SD Pertiwi.

In [56]:
print(f"{nama} adalah seorang {pekerjaan} di {institusi}.")

Vladimir adalah seorang guru di SD Pertiwi.

In [57]:
nama = "Ari Sekar"
nim = '2108541009'
kelas = 'Matematika A'
print(nama + ' dengan nim ' + nim + ' dengan kelas ' + kelas +'.')

Ari Sekar dengan nim 2108541009 dengan kelas Matematika A.

In [58]:
print(f'{nama} adalah seorang mahasiswa dengan nim {nim} dan berada di kelas {kelas}.')

Ari Sekar adalah seorang mahasiswa dengan nim 2108541009 dan berada di kelas Matematika A.

In [59]:
nama = "Ari Sekar"
lahir = '02 juli 2003'
kuliah = 'Universitas Udayana'
prodi = 'Matematika'

In [60]:
print(f'{nama} lahir di Denpasar, {lahir} sekarang sedang kuliah di {kuliah} dengan program studi {prodi}.')

Ari Sekar lahir di Denpasar, 02 juli 2003 sekarang sedang kuliah di Universitas Udayana dengan program studi Matematika.

In [61]:
nama = "Ni Luh Putu Ari Sekartini"
nim = '2108541009'
kelas = 'Matematika A'
matkul = 'Algoritma dan Struktur Data'

In [62]:
print(f'saya {nama} dengan nim {nim} dan kelas {kelas} izin mengumpulkan tugas {matkul} terimakasi.')

saya Ni Luh Putu Ari Sekartini dengan nim 2108541009 dan kelas Matematika A izin mengumpulkan tugas Algoritma dan Struktur Data terimakasi.

# 5.5 Strings Index
Variabel berupa string dapat diurutkan dengan index yang dimulai dari 0.

In [63]:
kelas = 'ini kelas algoritma'

In [64]:
print(kelas [0:3])

ini

In [65]:
print(kelas[0:-1])

ini kelas algoritm

In [3]:
kelas = 'ini kelas algoritma'

In [4]:
print(kelas[5:-1])

elas algoritm

In [5]:
print(kelas[2:-1:3])

ieslrm

In [6]:
print(kelas[:-3])

ini kelas algori

In [7]:
print(kelas[1:])

ni kelas algoritma

In [8]:
print(kelas[:])

ini kelas algoritma

In [9]:
universitas = 'udayana'

In [10]:
print(universitas[:])

udayana

In [11]:
print(universitas[2:-1])

ayan

In [12]:
print(universitas[:-4])

uda

In [13]:
nama = 'Arisekar'

In [14]:
print(nama[1:-2])

risek

In [15]:
print(nama[:])

Arisekar

In [16]:
nama = 'Arisekar'
nim = '2108541009'

In [17]:
print(nama + nim [:])

Arisekar2108541009

In [18]:
print(nama[1:-2] + nim)

risek2108541009

In [20]:
print((nama ) + " " + nim [7:])

Arisekar 009

In [22]:
print(" Ni Luh Putu " + (nama) + " " + (nim))

 Ni Luh Putu Arisekar 2108541009

# 5.6 Strings Methods
Ada beberapa methoda yang banyak digunakan pada variabel berjenis string.

In [23]:
judul = 'Bali Surga Dunia'

In [24]:
print(len(judul))

16

In [25]:
judul.upper()

'BALI SURGA DUNIA'

In [26]:
judul.lower()

'bali surga dunia'

In [27]:
judul.find('Surga')

5

In [28]:
judul.find('bali')

-1

In [29]:
judul.replace('Bali','Indonesia')

'Indonesia Surga Dunia'

In [30]:
judul.replace('bali','Indonesia')

'Bali Surga Dunia'

In [31]:
print('Bali' in judul)

True

In [32]:
print('bali' in judul)

False

In [33]:
nama = 'Ari Sekartini'

In [35]:
print(len(nama))

13

In [36]:
nama.upper()

'ARI SEKARTINI'

In [37]:
nama.lower()

'ari sekartini'

In [38]:
print('ari' in nama)

False

In [39]:
print('Ari' in nama)

True

In [40]:
print('Sekartini' in nama)

True

In [41]:
nim = '2108541009'

In [42]:
print(len(nim))

10

In [43]:
nim.find

# 5.7 Operasi Matematika di Python
Terdapat operasi matematika di Python.

In [1]:
print(2+3)
print(2-3)
print(2*3)
print(7/3)
print(7//3)
print(7%3)
print(2**3)
x=3
x+=1
print(x)
x-=2
print(x)
x*=3
print(x)

5
-1
6
2.3333333333333335
2
1
8
4
2
6

In [2]:
x = 20
print(x)

20

In [3]:
x = x + 2
print(x)

22

In [4]:
x = x - 5
print(x)

17

In [5]:
x = x*1
print(x)

17

In [6]:
x = x**2
print(x)

289

In [7]:
x += 1
print(x)

290

In [8]:
x *=0
print(x)

0

In [9]:
x +=20
print(x)

20

In [10]:
x %=100
print(x)

20

In [11]:
x //= 2
print(x)

10

In [12]:
x /=5
print(x)

2.0

In [13]:
y = 2
print(y)

2

In [14]:
y = y - 1
print(y)

1

In [15]:
y = y - 5
print(y)

-4

In [16]:
y = y*-4
print(y)

16

In [17]:
y = y**2
print(y)

256

In [18]:
y = y/2
print(y)

128.0

In [19]:
y = y%100
print(y)

28.0

In [20]:
y = y// 2
print(y)

14.0

In [21]:
y = y*-15
print(y)

-210.0

In [22]:
y = y / -3
print(y)

70.0

In [23]:
y -= 70.0
print(y)

0.0

# 5.8 Operator Perbandingan di Python
Beberapa operator perbandingan pada python.

In [25]:
x = 3>2
print(x)
x = 2<3
print(x)
x = 3 >= 2
print(x)
x = 2 <= 3
print(x)
x = 3 == 3
print(x)
x = 3 != 4
print(x)

True
True
True
True
True
True

In [26]:
y = 2>3
print(y)
y = 3<1
print(y)
y = 2 == 3
print (y)

False
False
False

In [27]:
a = 10 > 5
print(a)

True

In [28]:
a = 10!=10
print(a)

False

In [29]:
a = 21 ==21
print(a)
a = 9 < 10
print(a)
ari = 10 > 8
print(ari)

True
True
True

In [30]:
arisekar = 100 > 75
print(arisekar)

True

In [31]:
arisekar = 2003 < 2022
print(arisekar)

True

In [32]:
ari = 2003 > 2022
print(ari)

False

In [33]:
sekar = 2108541009 > 2108541010
print(sekar)

False

In [34]:
sekar = 2108541009 < 2108541010
print(sekar)

True

In [35]:
arisekar = 2108541009 == 2108541009
print(arisekar)

True

In [36]:
arisekar = 1009 != 1009
print(arisekar)

False

# 5.9 Operator Logika di Python
Beberapa operator logika pada Python adalah and, or and not. Operator and akan bernilai True jika kedua nilainya adalah True, 
sedangkan operator or akan bernilai True jika salah satu nilainya adalah True. Operator not akan menghasilkan nilai berlawanan.

In [37]:
buah_manggis = 10
buah_mangga =15
print(buah_manggis > 8 and buah_mangga < 20)

True

In [38]:
print (buah_manggis < 8 or buah_mangga < 20)

True

In [39]:
print(buah_manggis < 8 or buah_mangga > 20)

False

In [40]:
print(not (buah_manggis < 8 or buah_mangga > 20))

True

In [42]:
ari = 18 
adi = 20 
print(ari < 10 and adi > 10)

False

In [43]:
print(ari > 10 and adi > 10)

True

In [44]:
print(ari < 15 or adi < 15)

False

In [45]:
print(ari < 15 or adi > 15)

True

In [46]:
print(not (ari > 17 or adi > 19))

False

In [47]:
print(not (ari > 17 and adi > 19))

False

In [48]:
ari = 2003
adi = 2001

In [49]:
print(ari > adi)

True

In [50]:
print(adi > ari and ari < adi)

False

In [51]:
print(adi < ari or adi < 2011)

True

In [52]:
print(not (adi > ari and ari != adi))

True

In [53]:
print(ari == adi or adi < ari)

True

In [54]:
print(not(ari == adi or adi == 2001))

False

In [55]:
print(2001 < ari and 2003 == ari)

True

In [56]:
print(not(2001 == adi or ari == 2003))

False

In [57]:
print(not(2001 != ari and ari != ari))

True

# 5.10 Operator if di Python
Operator if akan dijalankan apabila nilai variabel yang dijalankan adalah True.

In [1]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 80:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali selamat")
if nilai < 80 and nilai >= 70:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
if nilai >= 60 and nilai < 70:
    print("Anda mendapatkan nilai C")
    print("Lain kali musti lebih baik")
if nilai >= 50 and nilai < 60:
    print("Anda mendapatkan nilai D")
    print("Ulang lagi tahun depan")
if nilai < 50:
    print("Anda mendapatkan nilai E")
    print("Sampai jumpa tahun depan")

Nilai anda adalah 90
Anda mendapatkan nilai A
Bagus sekali selamat

In [2]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 80:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali selamat")
if nilai < 80 and nilai >= 70:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
if nilai >= 60 and nilai < 70:
    print("Anda mendapatkan nilai C")
    print("Lain kali musti lebih baik")
if nilai >= 50 and nilai < 60:
    print("Anda mendapatkan nilai D")
    print("Ulang lagi tahun depan")
if nilai < 50:
    print("Anda mendapatkan nilai E")
    print("Sampai jumpa tahun depan")

Nilai anda adalah 82
Anda mendapatkan nilai A
Bagus sekali selamat

In [3]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 90:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali selamat")
if nilai < 80 and nilai >= 70:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
if nilai >= 60 and nilai < 70:
    print("Anda mendapatkan nilai C")
    print("Lain kali musti lebih baik")
if nilai >= 50 and nilai < 60:
    print("Anda mendapatkan nilai D")
    print("Ulang lagi tahun depan")
if nilai < 50:
    print("Anda mendapatkan nilai E")
    print("Sampai jumpa tahun depan")

Nilai anda adalah 65
Anda mendapatkan nilai C
Lain kali musti lebih baik

In [4]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 80:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali selamat")
if nilai < 80 and nilai >= 70:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
if nilai >= 60 and nilai < 70:
    print("Anda mendapatkan nilai C")
    print("Lain kali musti lebih baik")
if nilai >= 50 and nilai < 60:
    print("Anda mendapatkan nilai D")
    print("Ulang lagi tahun depan")
if nilai < 50:
    print("Anda mendapatkan nilai E")
    print("Sampai jumpa tahun depan")

Nilai anda adalah 78
Anda mendapatkan nilai B
Tingkatkan prestasimu!

In [5]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 80:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali selamat")
if nilai < 80 and nilai >= 70:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
if nilai >= 60 and nilai < 70:
    print("Anda mendapatkan nilai C")
    print("Lain kali musti lebih baik")
if nilai >= 50 and nilai < 60:
    print("Anda mendapatkan nilai D")
    print("Ulang lagi tahun depan")
if nilai < 50:
    print("Anda mendapatkan nilai E")
    print("Sampai jumpa tahun depan")

Nilai anda adalah 85
Anda mendapatkan nilai A
Bagus sekali selamat

In [6]:
nilai = float(input("Nilai anda adalah"))
if nilai >= 80:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali, selamat")
elif nilai >= 70:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
elif nilai >=60:
    print("Anda mendapatkan nilai C")
    Print("Lain kali musti lebih baik")

Nilai anda adalah50

In [7]:
nilai = float(input("Nilai anda adalah"))
if nilai >= 60:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali, selamat")

Nilai anda adalah65
Anda mendapatkan nilai A
Bagus sekali, selamat

In [8]:
nilai = float(input("Nilai ari sekar adalah "))
if nilai >= 80:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali, selamat")
elif nilai >= 70:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
elif nilai >=60:
    print("Anda mendapatkan nilai C")
    Print("Lain kali musti lebih baik")

Nilai ari sekar adalah 100
Anda mendapatkan nilai A
Bagus sekali, selamat

In [9]:
nilai = float(input("Nilai anda adalah "))
if nilai >= 95:
    print("Anda mendapatkan nilai A")
    print("Bagus sekali, selamat")
if nilai < 80 and nilai >= 70:
    print("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")

Nilai anda adalah 55

In [10]:
nilai = float(input("Nilai ari sekar adalah "))
if nilai >= 80:
    print("Ari sekar mendapatkan nilai A")
    print("Bagus sekali, selamat")
elif nilai >= 70:
    print("Ari sekar mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
elif nilai >=60:
    print("Ari sekar mendapatkan nilai C")
    Print("Lain kali musti lebih baik")

Nilai ari sekar adalah 90
Ari sekar mendapatkan nilai A
Bagus sekali, selamat

In [11]:
nilai = float(input("Umur anda adalah "))
if nilai >= 25:
    print("Anda sudah dewasa")
elif nilai >= 17:
    print("Anda sudah remaja dan akan dewasa")
elif nilai >=5:
    print("Anda masih anak anak")

Umur anda adalah 18
Anda sudah remaja dan akan dewasa

In [12]:
nilai = float(input("Umur anda adalah "))
if nilai >= 25:
    print("Anda sudah dewasa")
elif nilai >= 17:
    print("Anda sudah remaja dan akan dewasa")
elif nilai >=5:
    print("Anda masih anak anak")

Umur anda adalah 21
Anda sudah remaja dan akan dewasa

In [13]:
ilai = float(input("Umur anda adalah "))
if nilai >= 21:
    print("Anda sudah dewasa")
elif nilai >= 17:
    print("Anda sudah remaja dan akan dewasa")
elif nilai >=5:
    print("Anda masih anak anak")

Umur anda adalah 19
Anda sudah dewasa

In [14]:
nilai = float(input("Umur anda adalah "))
if nilai >= 25:
    print("Anda sudah tua")
    print("Silahkan segera menikah")
elif nilai >= 21:
    print("Anda sudah dewasa")
    print("Awas bentar lagi tua wkwkwkkw")
elif nilai >= 17:
    print("Anda sudah remaja dan akan dewasa")
    print("Belajar dulu jangan pacaran")
elif nilai >=5:
    print("Anda masih anak anak")
    print("Belajar yang rajin ya")

Umur anda adalah 12
Anda masih anak anak
Belajar yang rajin ya

In [15]:
nilai = float(input("Umur anda adalah "))
if nilai >= 25:
    print("Anda sudah tua")
    print("Silahkan segera menikah")
if nilai >= 21:
    print("Anda sudah dewasa")
    print("Awas bentar lagi tua wkwkwkkw")
if nilai >= 17:
    print("Anda sudah remaja dan akan dewasa")
    print("Belajar dulu jangan pacaran")
if nilai <=5:
    print("Anda masih anak anak")
    print("Belajar yang rajin ya")

Umur anda adalah 21
Anda sudah dewasa
Awas bentar lagi tua wkwkwkkw
Anda sudah remaja dan akan dewasa
Belajar dulu jangan pacaran

In [16]:
nilai = float(input("Umur adi sanjaya adalah "))
if nilai >= 25:
    print("Adi sanja sudah tua")
    print("Silahkan segera menikah")
elif nilai >= 21:
    print("Adi sanjaya sudah dewasa")
    print("Awas bentar lagi tua wkwkwkkw")
elif nilai >= 17:
    print("Adi sanjaya sudah remaja dan akan dewasa")
    print("Belajar dulu jangan pacaran")
elif nilai <=5:
    print("Adi sanjaya masih anak anak")
    print("Belajar yang rajin ya")

Umur adi sanjaya adalah 21
Adi sanjaya sudah dewasa
Awas bentar lagi tua wkwkwkkw

In [17]:
nilai = float(input("Umur ari sekar adalah "))
if nilai >= 25:
    print("Ari sekar sudah tua")
    print("Silahkan segera menikah")
if nilai >= 21:
    print("Ari sekar sudah dewasa")
    print("Awas bentar lagi tua wkwkwkkw")
if nilai >= 17:
    print("Ari sekar sudah remaja dan akan dewasa")
    print("Belajar dulu jangan pacaran")
if nilai <=5:
    print("Ari sekar masih anak anak")
    print("Belajar yang rajin ya")

Umur ari sekar adalah 18
Ari sekar sudah remaja dan akan dewasa
Belajar dulu jangan pacaran

# Latihan
# Buatlah program yang merubah tinggi badan seseorang dari cm ke inci atau sebaliknya dari inci ke cm.

In [18]:
tinggi = float(input("Berapkah tinggi anda? "))
cm_atau_inci = input("Tingginya dalam cm atau inci? ")
if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.393701
    print("Tinggi anda adalah " + str(tinggi) + " inci")
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0.393701
    print(f"Tinggi anda adalah {tinggi} cm")

Berapkah tinggi anda? 180
Tingginya dalam cm atau inci? cm
Tinggi anda adalah 70.86618 inci

In [19]:
tinggi = float(input("Berapkah tinggi ari sekar? "))
cm_atau_inci = input("Tingginya dalam cm atau inci? ")
if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.393701
    print("Tinggi ari sekar adalah " + str(tinggi) + " inci")
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0.393701
    print(f"Tinggi ari sekar adalah {tinggi} cm")

Berapkah tinggi ari sekar? 150
Tingginya dalam cm atau inci? cm
Tinggi ari sekar adalah 59.055150000000005 inci

In [20]:
tinggi = float(input("Berapkah tinggi ari sekar? "))
cm_atau_inci = input("Tingginya dalam cm atau inci? ")
if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.393701
    print("Tinggi ari sekar adalah " + str(tinggi) + " inci")
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0.393701
    print(f"Tinggi ari sekar adalah {tinggi} cm")

Berapkah tinggi ari sekar? 59.055150000000005
Tingginya dalam cm atau inci? inci
Tinggi ari sekar adalah 150.0 cm

In [21]:
tinggi = float(input("Berapkah tinggi adi sanjaya? "))
cm_atau_inci = input("Tingginya dalam cm atau inci? ")
if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.393701
    print("Tinggi adi sanjaya adalah " + str(tinggi) + " inci")
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0.393701
    print(f"Tinggi adi sanjaya adalah {tinggi} cm")

Berapkah tinggi adi sanjaya? 170
Tingginya dalam cm atau inci? cm
Tinggi adi sanjaya adalah 66.92917 inci

In [22]:
tinggi = float(input("Berapkah tinggi adi sanjaya? "))
cm_atau_inci = input("Tingginya dalam cm atau inci? ")
if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.393701
    print("Tinggi adi sanjaya adalah " + str(tinggi) + " inci")
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0.393701
    print(f"Tinggi adi sanjaya adalah {tinggi} cm")

Berapkah tinggi adi sanjaya? 66.92917
Tingginya dalam cm atau inci? cm
Tinggi adi sanjaya adalah 26.350081158170003 inci

# 5.11 While loop
While loop akan selalu dieksekusi selama nilainya True dan akan berhenti saat nilainya menjadi False.

In [23]:
a = 0 
while a < 5:
    print("Angka " + str(a)+" masih dibawah 5")
    a += 1

Angka 0 masih dibawah 5
Angka 1 masih dibawah 5
Angka 2 masih dibawah 5
Angka 3 masih dibawah 5
Angka 4 masih dibawah 5

In [24]:
a = 0
while a < 5:
    print(a * '*')
    a += 1

*
**
***
****

In [25]:
a = 0
while a <= 10:
    print(a * '*')
    a += 1

*
**
***
****
*****
******
*******
********
*********
**********

In [26]:
a = 0 
while a <= 5:
    print(str(a) + " aku " + " sayang kamu. ")
    a += 1

0 aku  sayang kamu.
1 aku  sayang kamu.
2 aku  sayang kamu.
3 aku  sayang kamu.
4 aku  sayang kamu.
5 aku  sayang kamu.

In [27]:
a = 1 
while a <= 10:
    print(str(a) + "aku" +" sayang kamu!")
    a += 1

1aku sayang kamu!
2aku sayang kamu!
3aku sayang kamu!
4aku sayang kamu!
5aku sayang kamu!
6aku sayang kamu!
7aku sayang kamu!
8aku sayang kamu!
9aku sayang kamu!
10aku sayang kamu!

In [28]:
a = 1 
while a < 5:
    print(str(a) + "Saya Ni Luh Putu Ari Sekartini " + " dengan nim 2108541009")
    a += 1

1Saya Ni Luh Putu Ari Sekartini  dengan nim 2108541009
2Saya Ni Luh Putu Ari Sekartini  dengan nim 2108541009
3Saya Ni Luh Putu Ari Sekartini  dengan nim 2108541009
4Saya Ni Luh Putu Ari Sekartini  dengan nim 2108541009

In [29]:
a = 1 
while a < 5:
    print( "Saya Ni Luh Putu Ari Sekartini " + " dengan nim 2108541009")
    a += 1

Saya Ni Luh Putu Ari Sekartini  dengan nim 2108541009
Saya Ni Luh Putu Ari Sekartini  dengan nim 2108541009
Saya Ni Luh Putu Ari Sekartini  dengan nim 2108541009
Saya Ni Luh Putu Ari Sekartini  dengan nim 2108541009

In [30]:
a = 0
while a <= 10:
    print(a * '^')
    a += 1

^
^^
^^^
^^^^
^^^^^
^^^^^^
^^^^^^^
^^^^^^^^
^^^^^^^^^
^^^^^^^^^^

In [31]:
a = 0
while a <= 10:
    print(a * '.')
    a += 1

.
..
...
....
.....
......
.......
........
.........
..........

In [32]:
a = 0
while a <= 5:
    print(a * '.')
    a += 1

.
..
...
....
.....

In [33]:
a = 1  
while a < 5:
    print(str (a) + "Saya Ni Luh Putu Ari Sekartini " + " dengan nim 2108541009")
    a += 1

1Saya Ni Luh Putu Ari Sekartini  dengan nim 2108541009
2Saya Ni Luh Putu Ari Sekartini  dengan nim 2108541009
3Saya Ni Luh Putu Ari Sekartini  dengan nim 2108541009
4Saya Ni Luh Putu Ari Sekartini  dengan nim 2108541009